<footer id="footer">
  <div class="wrapper">
    <p>
        <a href="https://www.trainwithtop.com">TOP LLC</a> |
        <a href="https://www.trainoptimizeperform.com">Dashboard</a>
    </p>
  </div>
</footer>
